<div class = "container-fluid">
  <div class = "row">
    <div class = "main-left col-md-3">
      <div class="members">
        <h3>Members</h3>
        <%@group.users.each do |member|  %>
         <div class="users-index-item">
            <div class="user-left">
              <%= image_tag("/user_images/#{member.image_name}") %>
            </div>
            <div class="user-right">
              <%= link_to member.name, user_path(member.id), :method=>:get%>
            </div>
         </div>
        <%end%>
       </div>
  </div>
  <div class = "main-center col-md-6 ">
          <div class="group">
            <h2><%= @group.name %></h2>

          <%@group.users.each do |member|  %>
            <% if member.id == current_user.id %>
             <%= button_to "投稿", new_group_post_path(group_id:@group.id), :method=>:get, :class => "btn btn-info btn-md" %>
            <% end %>
          <% end %>cd utg2
          

          </div>
          <div class="timeline">
          <h2>タイムライン</h2>
            <%if @posts.present?%>
             <%@posts.each do |t|%>
              <div class ="post-index-item">
              　<%s=User.find_by(id:t.user_id)%>
                <p><%= t.body %></p>
                <div class="user-left">
                  <%= image_tag("/user_images/#{s.image_name}") %>
                </div>
                <div class="posted-by"><%= link_to s.name, user_path(s.id), :method=>:get%></div>
                <%= t.created_at%>
              </div>
             <%end%>
            <%else%>
                <h3>No posts</h3>
            <% end %>
           </div>
        </div>
     </div>
  </div>
