<h3>Profile</h3>
<div class ="university_tag">
  <ul>
    <div class ="university_list">
      <% @user.university_list.each do |tag0| %>
      <%user0 = User.tagged_with(tag0)%>
      <li>
        <a>
          <%= tag0 %>
          <span>
            <%=user0.count%>
          </span>
        </a>
      </li>
      <% end %>
    </div>
  </ul>
</div>
<div class="profile_tag">
  <ul>
    <div class = "community_list">
      <p>
        コミュニティ
      </p>
      <% @user.community_list.each do |tag1| %>
        <% user1 = User.tagged_with(tag1)%>
        <li>
          <%= link_to user_tag_path(user_id:@user.id) do %>
            <%= tag1 %>
            <span>
              <%=user1.count%>
            </span>
          <% end %>
        </li>
      <% end %>
    </div>
  </ul>
</div>

<div class="profile_tag">
  <ul>
    <div class ="interest_list">
      <p>
        興味・関心
      </p>
      <% @user.interest_list.each do |tag2| %>
        <%user2 = User.tagged_with(tag2)%>
          <li>
            <%= link_to user_tag_path(user_id:@user.id) do %>
              <%= tag2 %>
              <span>
                <%=user2.count%>
              </span>
            <% end %>
          </li>
      <% end %>
    </div>
    <div class ="skill_list">
      <p>
        スキル
      </p>
      <% @user.skill_list.each do |tag3| %>
        <%user3 = User.tagged_with(tag3)%>
           <li>
             <%= link_to user_tag_path(user_id:@user.id) do %>
               <%= tag3 %>
               <span>
                 <%=user3.count%>
               </span>
             <% end %>
           </li>
       <% end %>
    </div>
   </ul>
  </div>
</div>
