<div class = "container-fluid">
  <div class = "row">
    <div class = "main-left col-md-4">
      <div class ="friends">
        <h3><%="Friends"%></h3>
          <% @Friendships = Friendship.where('to_id =  ? OR from_id =  ?',current_user.id,current_user.id).where(approved:true) %>
          <% @Friendships.each do |friendship| %>
            <td>
              <% if friendship.to_id == current_user.id %>
                <% friend = User.find(friendship.from_id) %>
              <% elsif friendship.from_id == current_user.id %>
                <% friend = User.find(friendship.to_id) %>
              <% else %>
                <% friend=nil %>
              <% end %>
              <div class="users-index-item">
                <%if friend!=nil%>
                  <div class="user-left">
                    <%= image_tag("/user_images/friend.image_name") %>
                  </div>
                  <div class="user-right">
                    <%= link_to friend.name, user_path(user_id:friend.id) %>
                <%else%>
                    <%="No friends"%>
                <%end%>
                  </div>
              </div>
            </td>
          <%end%>
      </div>
    </div>
    <div class = "main-center col-md-4">
      <div class="user">
        <%= image_tag("/user_images/#{@user.image_name}") %>
        <h2>
          <%= @user.name %>
        </h2>
        <p>
          <%= @user.email %>
        </p>
        <div class="btn-info btn-xs ">

          <% if @user.id == current_user.id %>
            <%= link_to "編集", edit_user_path,:class => "btn"%>
          <% else %>
            <%unless Friendship.exists?(to_id:(@user || current_user),from_id:(@user || current_user),approved:(true || false)) then%>
              <%= link_to "友達になる", friendships_path(:from_id => current_user.id, :to_id => @user.id),:method => :post, :class => "btn" %>
            <% else %>
              <% if Friendship.where(from_id:current_user.id, approved:false)%>
               <%= "友達申請中" %>
               <%= link_to "申請を取り消す", interrupt_friendship_path%>
              <% elsif Friendship.where(to_id:current_user.id, approved:false)%>
               <%= link_to "友達申請を許可する", accept_friendship_url(:from_id => @user.id, :to_id => current_user.id),:method => :post%>
              <% else Friendship.where('to_id =  ? OR from_id =  ?',current_user.id,current_user.id).where(approved:(true || false))%>
               <%= "友達" %>
              <% end %>
            <% end %>
          <% end %>
       　</div>

        <div class="profile_tag">
          <p>
            Profile
          </p>
          <td><%= @user.community_list %></td>
          <td><%= @user.interest_list %></td>
          <td><%= @user.skill_list %></td>
        </div>
      </div>
    </div>
    <div class = "main-right col-md-4">

    </div>
  </div>
</div>
