<div class = "container-fluid">
  <div class = "row">
    <div class = "main-left col-md-4">
      <div class ="friends">

           <%@Friendships = Friendship.where('to_id =  ? OR from_id =  ?',current_user.id,current_user.id).where(approved:true)%>
              <h3><%= "Friends" %><span>(<%=@Friendships.count%>) </span></h3>
               <%@Friendships.each do |friendship|%>
                   <%if friendship.to_id == current_user.id%>
                     <%friend = User.find(friendship.from_id)%>
                   <%elsif friendship.from_id == current_user.id%>
                     f<%riend = User.find(friendship.to_id)%>
                   <%else%>
                     <%friend=nil%>
                   <%end%>
                <td>
                  <div class="users-index-item">
                    <%if friend.present?%>
                      <div class="user-left">
                        <%= image_tag("/user_images/#{friend.image_name}") %>
                      </div>
                      <div class="user-right">
                        <%= link_to friend.name, user_path(friend.id), :method=>:get%>
                    <%else%>
                        <%="No friends"%>
                    <%end%>
                      </div>
                  </div>
                </td>
          <%end%>
      </div>

      <div class = "groups">
           <h3>My Groups<span>(<%=@user.groups.count%>)</span></h3>
          <%= link_to "グループを作る", new_group_path%>
      </div>
    </div>
    <div class = "main-center col-md-4">
      <div class="user">
        <%= image_tag("/user_cover_photos/#{@user.image_cover_name}")%>
        <%= image_tag("/user_images/#{@user.image_name}") %>
        <h2><%= @user.name %></h2>
        <p><%= @user.email %></p>
        <div class="btn-info btn-xs ">

          <% if @user.id == current_user.id %>
            <%= link_to "編集", edit_user_path,:class => "btn"%>
          <% else %>

          <% if Friendship.exists?(from_id:current_user.id, approved:false)%>
           <%= "友達申請中" %>
           <%= link_to "申請を取り消す", interrupt_friendship_path(:from_id => current_user.id, :to_id => @user.id) %>
          <% elsif Friendship.exists?(to_id:current_user.id, approved:false)%>
           <%= link_to "友達申請を許可する", accept_friendship_path(:from_id => @user.id, :to_id => current_user.id),:method => :post%>
          <% elsif Friendship.exists?(approved:true)%>
           <%= "友達" %>
          <% else %>
           <%= link_to "友達になる", friendships_path(:from_id => current_user.id, :to_id => @user.id),:method => :post, :class => "btn" %>


            <% end %>
          <% end %>
       　</div>

       <div class="profile_tag">
          <h3>Profile</h3>
        <ul>
          <div class = "community_list">
            <p>コミュニティ</p>
            <% @user.community_list.each do |tag1| %>
            <%user1 = User.tagged_with(tag1)%>
                <li><a><%= tag1 %><span><%=user1.count%></span></a></li>
            <% end %>
          </div>

          <div class ="interest_list">
            <p>興味・関心</p>
            <% @user.interest_list.each do |tag2| %>
              <%user2 = User.tagged_with(tag2)%>
                <li><a><%= tag2 %><span><%=user2.count%></span></a></li>
            <% end %>
          </div>

          <div class ="skill_list">
            <p>スキル</p>
            <% @user.skill_list.each do |tag3| %>
              <%user3 = User.tagged_with(tag3)%>
                 <li><a><%= tag3 %><span><%=user3.count%></span></a></li>
             <% end %>
          </div>
         </ul>
        </div>

      </div>
    </div>
    <div class = "main-right col-md-4">

    </div>
  </div>
</div>
