<div class = "container-fluid">
  <div class ="row">
    <div class= "main-left col-md-3">
      <div class= "Tags">
        <%if @user.id==current_user.id%>
         <h2>My Tags</h2>
        <%else%>
         <h2><%=@user.name%>'s Tags</h2>
        <%end%>
      <div class ="university_tag">
        <ul>
        <div class ="university_list">
          <% @user.university_list.each do |tag0| %>
          <%user0 = User.tagged_with(tag0)%>
              <li><a><%= tag0 %><span><%=user0.count%></span></a></li>
          <% end %>
        </div>
      </ul>
      </div>
    <div class="profile_tag">
    <ul>
      <div class = "community_list">
        <p>コミュニティ</p>
        <% @user.community_list.each do |tag1| %>
        <%user1 = User.tagged_with(tag1)%>
            <li><a><%= link_to tag1, user_tag_path(user_id:@user.id)%><span><%=user1.count%></span></a></li>
        <% end %>
      </div>

      <div class ="interest_list">
        <p>興味・関心</p>
        <% @user.interest_list.each do |tag2| %>
          <%user2 = User.tagged_with(tag2)%>
            <li><a><%= tag2 %><span><%=user2.count%></span></a></li>
        <% end %>
      </div>

      <div class ="skill_list">
        <p>スキル</p>
        <% @user.skill_list.each do |tag3| %>
          <%user3 = User.tagged_with(tag3)%>
             <li><a><%= tag3 %><span><%=user3.count%></span></a></li>
         <% end %>
      </div>
     </ul>
    </div>
    </div>
  </div>
    <div class = "main-center col-md-6">
      <div class = "tag-member">
      <h2><%=@tag.name%></h2>
      <p>タグユーザー</p>
      <%@users=User.tagged_with(@tag)%>
      <%@users.each do |t|%>
        <div class="users-index-item">
           <div class="user-left">
             <%= image_tag("/user_images/#{t.image_name}") %>
           </div>
           <div class="user-right">
             <%= link_to t.name, user_path(t.id), :method=>:get%>
           </div>
        </div>
      <% end %>
     </div>
   </div>
 </div>
</div>
